#article-list {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    margin: 5px;
}

.jumbo {
    max-height: 500px;
    margin: bottom, 10px;
}
.jumbo-img {
    max-height: 400px;
}
.jumbo-text{
    float: right, top;
}
.container {
    width: 80%;
    margin: auto;
    float: left;
}

